/* Write your CSS here */
.team-card-item {
  list-style-type: none;
  width: 50%;

  background-color: #ffffff33;
  border-radius: 15px;
  padding: 15px;
  width: 40%;
  margin: 15px;
}
.team-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  outline: none;
}
.team-logo {
  height: 70px;
  width: 70px;
  margin-right: 15px;
}
.team-title {
  color: white;
  font-family: 'bree serif';
  font-size: 18px;
  font-weight: 500;
}
